/*@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Work+Sans&family=Zen+Dots&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Catamaran&family=Exo+2:wght@300&family=IBM+Plex+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


body {
    font-family: 'Abel', sans-serif;
}

header {
    border-bottom: solid;
}

#content {
    min-height: 80vh;
}

.content-block--item {
    border-radius: 5px;
}

.link--tag{
    text-decoration: underline;
}

.highlight > pre {
    padding: 0px 40px;
}