/*@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Work+Sans&family=Zen+Dots&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Catamaran&family=Exo+2:wght@300&family=IBM+Plex+Serif&display=swap');

body {
    font-family: 'Assistant', sans-serif;
    /* font-family: 'Inconsolata', monospace;*/
}

header {
    border-bottom: solid;
}

.content-block--item {
    border: 1px solid black;
    border-radius: 5px;
}

.link--tag{
    text-decoration: underline;
}