<div class="col-12">
    <h3>{{ emojify ":books:" }} Blog posts</h3>

</div>
<div class="col-12">
    {{ range first 6 (where .Site.Pages "Section" "blog") }}
        {{ if ne .Title "Blogs"}}
            <div class="content-block--item p-2 my-2 row">
                <div class="col-2">
                    {{- partial "metadata" . }}
                </div>

                <div class="col-10">
                    <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                    <p>{{ .Summary | truncate 150 }}</p>
                </div>

            </div>
        {{ end }}
    {{ end }}

    {{ $robocop := (where .Site.Pages "Section" "blog") }}
    {{ if gt (len $robocop) 5 }}
        <div class="row">
            <a class="btn btn-outline-dark col-4 offset-4" href="/blog">Voir tous les bails</a>
        </div>
    {{ end }}
</div>
