{{ $dateTime := .PublishDate.Format "2 Jan 2006 15:04" }}
{{ $dateFormat := .Site.Params.dateFormat | default "2 Jan 2006" }}

<div class="">
    <div>
        <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
    </div>

    <div>
        {{ with .Params.tags }}
            {{ range . }}
                {{ $href := print (absURL "tags/") (urlize .) }}
                <a class="text-muted link--tag" href="{{ $href }}">{{ . }}</a>
            {{ end }}
        {{ end }}
    </div>
</div>

