{{ $dateTime := .PublishDate.Format "2 Jan 2006 15:04" }}
{{ $dateFormat := .Site.Params.dateFormat | default "2 Jan 2006" }}

<div class="col">
    <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>

    <br>
    {{ with .Params.tags }}
        {{ range . }}
            {{ $href := print (absURL "tags/") (urlize .) }}
            <p>{{ emojify ":sob:" }}</p>
            <a class="text-muted link--tag" href="{{ $href }}">{{ . }}</a>

        {{ end }}
    {{ end }}
</div>

