{{ define "main" }}
    <main class="container">
        <section class="row align-items-center justify-content-between">
            <div class="col-12 col-md-6 text-center text-md-left">
                <h1 class="title">{{ .Site.Title }}</h1>
            </div>
            <div class="col-12 col-md-6">
                {{- partial "header.html" . -}}
            </div>
        </section>
        <hr>
        <section class="row">
            {{- partial "resume" . }}
        </section>
        <hr>
        <section>
                {{range where .Site.Pages "Draft" true}}
                <div>
                    {{- partial "metadata" . }}

                    <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                    <p class="summary">
                        <p>{{ .Summary | truncate 150 }}</p>
                    </a>
                </div>
                {{ end }}
        </section>
    </main>
{{ end }}