{{ define "main" }}
    <main class="container">
        <section class="row align-items-center justify-content-between">
            {{- partial "header.html" . -}}
        </section>
        <hr>
        <section class="row">
            {{- partial "resume" . }}
        </section>
        <hr>
        <section>
            {{ range first 3 (where .Site.Pages "Section" "blog") }}
                {{ if ne .Title "Blogs"}}
                <div>
                    {{- partial "metadata" . }}

                    <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                        <p>{{ .Summary | truncate 150 }}</p>
                </div>
                {{ end }}
            {{ end }}
        </section>
    </main>
{{ end }}